body {
	background: url(../images/Background.png) no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#grid-container {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;  
	left: 50%;
}

#grid-container .boxes {
	height: 300px;
	width: 300px;
	margin: 10px;
	float: left;
	position:relative;
}

.faded {
	opacity: 0.33;
	height: 50px;
	width: 50px;
}

.active {
	opacity: 1;
	background:blue;
}

.rows{
	min-height: 105px;
	float:left;
	left:18%;
	position:relative;
}

h1{
	text-align: center;
}
#box0{
	background: #483D8B;
	background-image: url("../images/jobs4u.png");

}

#box1 {
	background: #483D8B;
	background-image: url("../images/atl.png");
}

#box2 {
	background: #483D8B;
	background-image: url("../images/http.png");
}

#box3 {
	background: #FFF333;
	background-image: url("../images/howtocrisis.png");

}

#box4 {
	background: #483D8B;
	background-image: url("../images/voteseeker.jpeg");

}

#box5 {
	background: #483D8B;
	background-image: url("../images/hzone.png");

}

#box6 {
	background: #483D8B;
	background-image: url("../images/somethinggood.png");

}

#box7 {
	background: #483D8B;
	background-image: url("../images/crowdalertsystem.png");

}

#box8 {
	background: #483D8B;
	background-image: url("../images/kikrisis.png");
}

#box9 {
	background: #483D8B;
	background-image: url("../images/watchout.gif");

}
#box10 {
	background: #483D8B;
	background-image: url("../images/helpmeout.jpeg");

}
#box11 {
	background: #483D8B;
	background-image: url("../images/eventor.png");

}

