body {
	background: url(../images/Background.png) no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#grid-container {
	border: 3px solid black;
	width: 200px;
	height: 200px;
}

#grid-container .boxes {
	height: 300px;
	width: 300px;
	background: blue;
}

.faded {
	opacity: 0.33;
	height:50px;
	width:50px;
}